html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Comfortaa, sans-serif;
  text-align: center;
  background: #111;
  color: #fff;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: thick double #2e7555;
}

.tooltip-bar {
  flex: 0 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor {
  flex: 1 0 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1rem;
  overflow: auto;
}

.button-panel {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  z-index: 10;
  position: relative;
  align-items: flex-start;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px;
  gap: 6px;
  background-color: #305e49;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background-color: #316f63;
}

.input-styles {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}

.span-style {
  margin-top: 0px;
  margin-bottom: 0px;
}

.tiptool-text {
  color: #6b6b6ba9;
  user-select: none;
  cursor: default;
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.img-dim {}

.image-viewer {
  position: relative;
  flex: none;
  width: 85%;
  border: thick solid #305e49;
  border-radius: 12px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  overflow: auto;
}

.image-viewer img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  display: block;
}

.checkerboard-conic-background {
  --square-size: 64px;
  /* max-width: 600px;
  max-height: 600px; */
  background: repeating-conic-gradient(from 0deg,
      #ccc 0deg 90deg,
      #333 90deg 180deg);
  background-size: calc(var(--square-size) * 2) calc(var(--square-size) * 2);
  transition: transform 0.3s ease;
}

.header-text {
  color: #7a7a7aa9;
  margin: 0;
  padding: 0;
  user-select: none;
}

.divider {
  width: 100%;
  height: 2px;
  background: #305e49;
  margin: 0px 0;
}

.scale-max {
  color: rgb(152, 91, 83);
}

.same-scales {
  color: rgb(216, 185, 138);
}

.base-color {
  color: #b1b1b1ff;
}

.flip-h {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.flip-v {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}